<%= render "_form.html", Map.put(assigns, :action, exchange_path(@conn, :create)) %>

<%= if can?(@conn, :index, Exchange) do %>
  <span><%= link "Back", to: exchange_path(@conn, :index) %></span>
<% end %>
